body, h1, h2, h3, h4, h5, h6, p {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.banner {
  min-height: 650px;
}

.header span {
  font-size: 28px;
  font-weight: 600;
  color: #1B74E4;
}

.logo {
  margin-left: 10%;
}

.banner-content {
  margin-left: 10%;
  border-radius: 40px;
}

.banner-content h1 {
  font-size: 72px;
  font-weight: 600;
  color: #FF0000;
  text-transform: uppercase;
}

.banner h2{
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color:#0062A9;
}
.banner-content p {
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cta{
  background-color: #0062A9;
}

.cta h2{
  color: #fff;
  font-size: 26px;
  max-width: 800px;
  margin: 0 auto;
}

.cta img{
  margin: 0 auto;
  padding-bottom: 30px;
  border-radius: 9px;
}

.main-content {
  background-color: #E8F7FC;
}

.thumbnail{
  background-color: #E8E8E8;
  padding-bottom: 20px;
}

.thumb-title img{
  width: 100%;
}

.col-title{
  color: #fff;
  background-color: #1174BC;
  border-radius: 8px;
  width: 90%;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

.thumbnail .text-l{
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.text-sm a{
  font-weight: bold;
  font-size: 22px;
  color: #1174BC;
  text-decoration: underline;
}

.button{
  background-color: #CE0606;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
}

.button:hover{
  background-color: #0062A9;
}

.button a{
  font-size: 24px;
  color: #fff;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer {
  background-color: #0062A9;
}

.footer img{
  margin: 0 auto;
  padding-bottom: 30px;
}

.footer-note{
  background-color: #CE0606;
}
/*Page Loading CSS*/
.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

.content {
  display: none;
}

/* Responsive styles */
@media (max-width: 768px) {
  .container {
      padding-left: 20px;
      padding-right: 20px;
  }

  .header span {
    font-size: 18px;
  }

  .banner-content {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    margin-right: 0;
  }

  .banner-content h1 {
    font-size: 32px;
  }
}

@media (max-width: 480px) {
  .button img {
    height: 20px;
    margin-right: 6px;
  }
}
